body, .wrap { min-height: 100% }

img { width: 20px; }

.wrap { padding-bottom: 60px; }

#jumbotron { margin-top: 100px; }

.navbar-brand .top, .navbar-brand .bottom { display: none; }
    .navbar-brand .simplify { visibility: visible; }

#collapsedNavbar { float: right; }
